@import url('https://fonts.googleapis.com/css2?family=Montaga&family=Titillium+Web:ital,wght@0,200;0,300;0,400;0,600;0,700;0,900;1,200;1,300;1,400;1,600;1,700&display=swap');

@font-face {
    font-family: "Batman";
    src: url("src/fonts/JMH Typewriter-Black.otf") format("opentype");
}

@font-face {
    font-family: "Rushford";
    src: url("src/fonts/Rushford Printed.otf") format("opentype");
}

@font-face {
    font-family: "Personal";
    src: url("src/fonts/Personal Services.ttf") format("truetype");
}

@font-face {
    font-family: "HeadingNow";
    src: url("src/fonts/HeadingNowTrial-04Regular.ttf");
}

@font-face {
    font-family: "American";
    src: url("src/fonts/American Captain.otf");
}

@font-face {
    font-family: "Inter";
    src: url("src/fonts/Inter-VariableFont_opsz,wght.ttf");
}

@font-face {
    font-family: "Babas";
    src: url("src/fonts/Bebas-Regular.ttf");
}

@font-face {
    font-family: "Roboto";
    src: url("src/fonts/Roboto-VariableFont_wdth,wght.ttf");
}


@import "tailwindcss";

@theme{
    --font-batmanFont: "Batman", sans-serif;  
    --font-web: Titillium Web, "sans-serif";
    --font-doto: Doto, sans-serif;
    --font-rushford : Rushford,"sans-serif";
    --font-personal : Personal,"sans-serif";
    --font-heading:HeadingNow,"sans-serif";
    --font-american:American,"sans-serif";
    --font-inter:Inter,"sans-serif";
    --font-babas:Babas,"sans-serif";
    --font-roboto:Roboto,"sans-serif";
}