@import url('https://fonts.googleapis.com/css2?family=Montaga&family=Titillium+Web:ital,wght@0,200;0,300;0,400;0,600;0,700;0,900;1,200;1,300;1,400;1,600;1,700&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Doto:wght@100..900&display=swap');

@font-face {
  font-family: BatmanFont;
  src: url("fonts/JMH Typewriter-Black.otf");
}

@font-face {
  font-family: Rushford;
  src: url("src/fonts/Rushford Printed.otf");
}

@import "tailwindcss";

@theme{
  --font-batmanFont : BatmanFont,"sans-serif";  
  --font-web: Titillium Web, "sans-serif";
  --font-doto: Doto, sans-serif;
}